:root {
    --primary-color: rgb(35, 158, 170);
    --secondary-color: rgb(167, 211, 42);
    --danger-color: rgb(35, 158, 170);
}

body {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin-block-end: 0em;
}

#logo {
    height: 50px;
    width: 98px;
}

#map {
    width: 100%;
    height: 100%;
}

#carto-vecto-surface_hydrographique {
    border-color: var(--primary-color);
}

#zone-habilitation-div {
    border-color: var(--secondary-color);
}

#tooltip {
    position: absolute;
    display: none;
    padding: 2px 2px;
    background-color: white;
}

.control {
    position: absolute;
    width:480px;
    top:20px;
    right: 20px;
}

.tile {
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color:  #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px #aaa;
}

.results {
    display: none;
    font-size: larger;
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 5px solid rgba(180, 180, 180, 0.6);
    border-top-color: var(--primary-color);
    animation: spinner 0.6s linear infinite;
}